.education {
  width: 100%;
  color: var(--text-color);
}

.education-container {
  display: flex;
  flex-direction: column;
}

.education__item-container {
  border-left: 3px solid var(--progress-bar-color);
  padding: 1rem 0;
}

.education__item {
  position: relative;
  border-radius: 5px;
  margin-left: 30px;
  border-left: 3px solid var(--accent-color);
  margin-bottom: 1rem;
  box-shadow: 0 0.125rem 0.25rem var(--progress-bar-color);
}

.education__item::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid var(--accent-color);
  left: -42px;
  top: 40px;
  z-index: 1;
}

.education__item::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--accent-color);
  top: 48px;
  left: -30px;
}

.education__card {
  border: 1px var(--progress-bar-color) solid;
  border-left: none;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
}

.education__title {
  font-size: 1.8rem;
  font-weight: 600;
}

.education__time-interval {
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.education__specialty {
  font-weight: 400;
}

.education__certificate {
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.4rem;
}

.education__certificate:visited {
  color: var(--text-color);
}

@media screen and (max-width: 700px) {
  .education-container {
    gap: 30px;
  }

  .education__item-container {
    border-left: none;
    padding: 0;
  }

  .education__item {
    border-left: none;
    margin: 0;
  }

  .education__item::before {
    content: '';
    background: none;
    border: none;
  }

  .education__item::after {
    content: '';
    background: none;
  }
}

@media screen and (max-width: 500px) {
  .education__card {
    font-size: 1rem;
  }

  .education__title {
    font-size: 1.3rem;
    font-weight: 600;
  }
}